* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.body {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 0px;
  position: static;
  width: 456px;
  margin: 0 auto;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.progress-bar {
  margin-top: 52px;
}

.title {
  margin-top: 80px;
}

.registration-form-container {
  width: 456px;
  margin-top: 32px;
  border: 1px solid #E2E4E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 32px;
}

label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  position: static;
  height: 36px;
  width: 456px;
  margin-bottom: 16px;
}

h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #242731;
}

.contacts-title h2 {
  margin-bottom: 2px;
}

.contacts-title p {
  margin-bottom: 32px;
}

.email-field {
  margin-bottom: 32px;
}

.phone-number-field {
  margin-bottom: 48px;
}

.date-and-time-picker {
  position: static;
  height: 44px;
  left: 4.08%;
  right: 4.08%;
  position: static;
  text-align: left;
  width: 392px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #E2E4E5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding: 16px 8px 16px 8px;
}

.map-model-window {
  width: 30px;
  height: 44px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #E2E4E5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #242426;
  padding: 16px 8px 16px 8px;
  caret-color: transparent;
}

.address-input {
  position: static;
  height: 44px;
  left: 4.08%;
  right: 4.08%;
  position: static;
  text-align: left;
  width: 288px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #E2E4E5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding: 16px 8px 16px 8px;
}

.address-tilte h2, .date-tilte h2 {
  margin-bottom: 2px;
}

.address-tilte p, .date-tilte p {
  margin-bottom: 32px;
}

.mapmodal {
  position: absolute;
  width: 455px;
  height: 350px;
  background-color: #000;
  display: none;
  top: 250px;
}

.modal-body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 45px 10px 45px;
  width: 25px;
  border: 1px solid #BBBFC1;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  margin-left: 20px;
}

.modal-button:hover {
  color: #fff;
  background: #007AFF;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.address-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 32px;
}

.address-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.title p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #575F6E;
}

.registration-form-container p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #575F6E;
}

.form-button button {
  float: left;
  padding: 12px 56px 12px 32px;
  width: 187px;
  border: 1px solid #BBBFC1;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-top: 32px;
}

.contact-form input {
  position: static;
  height: 44px;
  left: 4.08%;
  right: 4.08%;
  position: static;
  width: 392px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #E2E4E5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding: 16px 8px 16px 8px;
}

input:focus {
  border-bottom: 1px solid #007AFF;
}

.form-button button:hover {
  color: #fff;
  background: #333;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
/*# sourceMappingURL=stepTwo.css.map */